<div class="row">
    <div class="col-md-12">
        ACCOUNT:
        <button (click)="showAccountData()">show</button>
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            {{userAccount!.balance}}
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            bb
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            cc
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            dd
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            ee
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            ff
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="card-mein">
            aa
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            bb
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            cc
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            dd
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            ee
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            ff
        </div> 
    </div>
</div>