<div class="row">
    <div class="col-md-12">
        ACCOUNT:
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            <div class="card-mein-caption">Account balance:</div>
            <div class="card-mein-mieso">
                {{(this.userModel.apiAccount?.balance! / 100000000) | number}} HNT
            </div>
            <div class="card-mein-sub">
                {{ ((this.userModel.apiAccount?.balance! / 100000000) *  this.heliumPrice.helium?.usd!)  | number : '1.2-2' }} USD
            </div>
            <div class="card-mein-sub">
                {{ ((this.userModel.apiAccount?.balance! / 100000000) *  this.heliumPrice.helium?.pln!)  | number : '1.2-2' }} PLN
            </div>
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            <div class="card-mein-caption">Rewards 24h:</div>
            <div class="card-mein-mieso">
                {{ this.userModel.acc_reward24 | number }} HNT
            </div>
            <div class="card-mein-sub">
                {{ this.userModel.acc_reward24! * this.heliumPrice.helium?.usd! | number : '1.2-2' }} USD
            </div>
            <div class="card-mein-sub">
                {{ this.userModel.acc_reward24! * this.heliumPrice.helium?.pln! | number : '1.2-2' }} PLN
            </div>
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            <div class="card-mein-caption">Rewards yesterday:</div>
            <div class="card-mein-mieso">
                {{this.userModel.acc_reward24 | number }} HNT
            </div>
            <div class="card-mein-sub">
                {{this.heliumPrice.helium?.usd }} USD
            </div>
            <div class="card-mein-sub">
                {{this.heliumPrice.helium?.pln }} PLN
            </div>
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            <div class="card-mein-caption">Rewards 7 day:</div>
            <div class="card-mein-mieso">
                {{this.userModel.acc_reward7d | number}} HNT
            </div>
            <div class="card-mein-sub">
                {{this.userModel.acc_reward7d! * this.heliumPrice.helium?.usd! | number : '1.2-2' }} USD
            </div>
            <div class="card-mein-sub">
                {{this.userModel.acc_reward7d! * this.heliumPrice.helium?.pln! | number : '1.2-2' }} PLN
            </div>
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            <div class="card-mein-caption">Reawrds 30 day:</div>
            <div class="card-mein-mieso">
                {{this.userModel.acc_reward30d | number }} HNT
            </div>
            <div class="card-mein-sub">
                {{this.userModel.acc_reward30d! * this.heliumPrice.helium?.usd! | number : '1.2-2' }} USD
            </div>
            <div class="card-mein-sub">
                {{this.userModel.acc_reward30d! * this.heliumPrice.helium?.pln! | number : '1.2-2' }} PLN
            </div>
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            <div class="card-mein-caption">Lifetime Rewards:</div>
            <div class="card-mein-mieso">
                {{this.userModel.acc_reward_lifetime | number}} HNT
            </div>
            <div class="card-mein-sub">
                {{this.userModel.acc_reward_lifetime! * this.heliumPrice.helium?.usd! | number : '1.2-2' }} USD
            </div>
            <div class="card-mein-sub">
                {{this.userModel.acc_reward_lifetime! * this.heliumPrice.helium?.pln! | number : '1.2-2' }} PLN
            </div>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="card-mein">
            <div class="card-mein-caption">Hotspot count:</div>
            <div class="card-mein-mieso">
                {{this.userModel.apiAccount?.hotspot_count}} pcs
            </div>
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            bb
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            cc
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            dd
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            ee
        </div> 
    </div>
    <div class="col-md-2">
        <div class="card-mein">
            ff
        </div> 
    </div>
</div>