<div class="container-fluid">
    <div class="row">

        <app-account></app-account>

        <div class="col-3">
        </div>
        <div class="col-6" style="text-align: center;">
            <div class="btn-group" role="group" >
                <button type="button" class="btn btn-sm btn-refresz btn-primary" (click)="getUser()">
                    <div><i class="fas fa-sync-alt"></i> Get User [DB] </div>
                </button>
                <button type="button" class="btn btn-sm btn-refresz btn-primary" (click)="refreshAPIaccount()">
                    <div><i class="fas fa-sync-alt"></i> Get Account from API </div>
                </button>
                <button type="button" class="btn btn-sm btn-refresz btn-primary" (click)="refreshAPIaccountRewards()">
                    <div><i class="fas fa-sync-alt"></i> Get Account Rewards API </div>
                </button>
                <button type="button" class="btn btn-sm btn-refresz btn-primary" (click)="refreshAPIhotspots()">
                    <div><i class="fas fa-sync-alt"></i> Get Hotspots from API </div>
                </button>
                <button type="button" class="btn btn-sm btn-refresz btn-primary" (click)="getCoinGeckoPrices()">
                    <div><i class="fas fa-sync-alt"></i> Coin gecko </div>
                </button>
            </div>
        </div>
        <div class="col-3">
        </div>

        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="progress hotspots-compete"  style="height: 30px;">
                <div *ngFor="let hotspot of userModel!.hotspots; let index = index" class="progress-bar" role="progressbar"  [ngStyle]="getCompeteHotspotsBarStyles(hotspot.rewards_24!)" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"> {{hotspot.name}} </div>
            </div>
        </div>
        <div class="col-3">
        </div>



        <app-hotspots></app-hotspots>

        <app-activity></app-activity>

        <app-testchart></app-testchart>
        
    </div>
</div>