<div class="container-fluid">
    <div class="row">

        <app-account></app-account>

        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-sm btn-info" (click)="getUser()">
                    <div><i class="far fa-trash-alt"></i> Get User [DB] </div>
                </button>
                <button type="button" class="btn btn-sm btn-info" (click)="refreshAPIhotspots()">
                    <div><i class="far fa-trash-alt"></i> Get Hotspots from API </div>
                </button>
                <button type="button" class="btn btn-sm btn-info" (click)="refreshAPIaccount()">
                    <div><i class="far fa-trash-alt"></i> Get Account from API </div>
                </button>
            </div>
            <button type="button" class="btn btn-sm btn-info" (click)="getCoinGeckoPrices()">
                <div><i class="far fa-trash-alt"></i> coin gecko </div>
            </button>
        </div>
        <div class="col-4">
        </div>

        <app-hotspots></app-hotspots>

    </div>
</div>