<mat-dialog-content>
    <div class="container-fluid">
        <div style="padding-bottom: 20px;">

            <div style="font-weight: 600; font-size: 18px; text-align: center;">
                <h1>{{ this.hotspot.name }}</h1>
            </div>


            <div class="row">
                <div class="col-md-12" style="padding-top: 25px;">
                </div>
                <div class="col-md-2">
                    <div class="card-mein">
                        <div class="card-mein-caption">Rewards 24h:</div>
                        <div class="card-mein-mieso">
                            {{ this.hotspot.rewards_24 | number }} HNT
                        </div>
                        <div class="card-mein-sub">
                            {{ this.hotspot.rewards_24! * this.prices.helium?.usd! | number : '1.2-2' }} USD
                        </div>
                        <div class="card-mein-sub">
                            {{ this.hotspot.rewards_24! * this.prices.helium?.pln! | number : '1.2-2' }} PLN
                        </div>
                    </div> 
                </div>
                <div class="col-md-2">
                    <div class="card-mein">
                        <div class="card-mein-caption">Rewards 7 day:</div>
                        <div class="card-mein-mieso">
                            {{this.hotspot.rewards_7d | number}} HNT
                        </div>
                        <div class="card-mein-sub">
                            {{this.hotspot.rewards_7d! * this.prices.helium?.usd! | number : '1.2-2' }} USD
                        </div>
                        <div class="card-mein-sub">
                            {{this.hotspot.rewards_7d! * this.prices.helium?.pln! | number : '1.2-2' }} PLN
                        </div>
                    </div> 
                </div>
                <div class="col-md-2">
                    <div class="card-mein">
                        <div class="card-mein-caption">Reawrds 30 day:</div>
                        <div class="card-mein-mieso">
                            {{this.hotspot.rewards_30d | number }} HNT
                        </div>
                        <div class="card-mein-sub">
                            {{this.hotspot.rewards_30d! * this.prices.helium?.usd! | number : '1.2-2' }} USD
                        </div>
                        <div class="card-mein-sub">
                            {{this.hotspot.rewards_30d! * this.prices.helium?.pln! | number : '1.2-2' }} PLN
                        </div>
                    </div> 
                </div>
                <div class="col-md-2">
                    <div class="card-mein">
                        <div class="card-mein-caption">Lifetime Rewards:</div>
                        <div class="card-mein-mieso">
                            {{this.hotspot.rewards_lifetime | number}} HNT
                        </div>
                        <div class="card-mein-sub">
                            {{this.hotspot.rewards_lifetime! * this.prices.helium?.usd! | number : '1.2-2' }} USD
                        </div>
                        <div class="card-mein-sub">
                            {{this.hotspot.rewards_lifetime! * this.prices.helium?.pln! | number : '1.2-2' }} PLN
                        </div>
                    </div> 
                </div>
                <div class="col-md-2">
                    <div class="card-mein">
                        <div class="card-mein-caption">Transmit scale:</div>
                        <div class="card-mein-mieso">
                            {{this.hotspot.reward_scale | number : '1.2-2' }}
                        </div>
                        <div class="card-mein-sub">
                            {{this.hotspot.reward_scale! * this.prices.helium?.usd! | number : '1.2-2' }} USD
                        </div>
                        <div class="card-mein-sub">
                            {{this.hotspot.reward_scale! * this.prices.helium?.pln! | number : '1.2-2' }} PLN
                        </div>
                    </div> 
                </div>
                <div class="col-md-2">
                    <div class="card-mein">
                        <div class="card-mein-caption">Hotspot rewards:</div>
                        <div class="card-mein-mieso">
                            {{ (this.hotspot.rewards_24! / 100000000) | number}} HNT
                        </div>
                        <div class="card-mein-sub">
                            {{ ((this.hotspot.rewards_24! / 100000000) *  this.prices.helium?.usd!)  | number : '1.2-2' }} USD
                        </div>
                        <div class="card-mein-sub">
                            {{ ((this.hotspot.rewards_24! / 100000000) *  this.prices.helium?.pln!)  | number : '1.2-2' }} PLN
                        </div>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card-mein">
                        <div class="row">
                            <div class="card-mein-caption">Estimated ROI:</div>
                            <div class="col-md-6">
                                <div class="card-mein-mieso">
                                    <p class="hotspot-reward" data-toggle="tooltip" data-placement="top" title="~ {{hotspot.roi! / 30! | number : '1.1-1'}} months" > {{hotspot.roi | number : '1.1-1'}} days<sup class="hotspot-roi-sup">24h</sup> </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-mein-mieso">
                                    <p class="hotspot-reward" data-toggle="tooltip" data-placement="top" title="~ {{hotspot.roi7d! / 30! | number : '1.1-1'}} months" > {{hotspot.roi7d | number : '1.1-1'}} days<sup class="hotspot-roi-sup">7d</sup> </p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="card-mein">
                        <div class="row">
                            <div class="card-mein-caption">Break-even in:</div>
                            <div class="col-md-6">
                                <div class="card-mein-mieso">
                                    <p class="hotspot-reward" data-toggle="tooltip" data-placement="top" title="~ {{hotspot.roi_days_left! / 30! | number : '1.1-1'}} months" > {{hotspot.roi_days_left | number : '1.1-1'}} days<sup class="hotspot-roi-sup">24h</sup> </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-mein-caption"></div>
                                <div class="card-mein-mieso">
                                    <p class="hotspot-reward" data-toggle="tooltip" data-placement="top" title="~ {{hotspot.roi_days_left7d! / 30! | number : '1.1-1'}} months" > {{hotspot.roi_days_left7d | number : '1.1-1'}} days<sup class="hotspot-roi-sup">7d</sup> </p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="card-mein">
                        <div class="row">
                            <div class="card-mein-caption" style="margin-bottom: 10px;" >Unit price:</div>
                            <div class="col-md-6">
                                <div class="card-mein-mieso">
                                    <input class="form-control" type="number" min="0" [(ngModel)]="hotspot.price" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-mein-caption"></div>
                                <div class="card-mein-mieso">
                                    $                 
                                    <button type="button" class="btn btn-update-price btn-primary" onclick="submit">
                                        <div><i class="fas fa-sync-alt"></i> Update </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div style="padding-bottom: 20px; font-size: 16px; font-weight: 600;">
                    Hotspot details:
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>Hotspot Name:</p>
                    </div>
                    <div class="col-md-98 hotspot-details-value">
                        {{hotspot.name}}
                    </div>
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>Address:</p>
                    </div>
                    <div class="col-md-8 hotspot-details-value">
                        {{hotspot.address}}
                    </div>
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>Added:</p>
                    </div>
                    <div class="col-md-98 hotspot-details-value">
                        {{hotspot.timestamp_added}}
                    </div>
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>Reward scale:</p>
                    </div>
                    <div class="col-md-8 hotspot-details-value">
                        {{hotspot.reward_scale}}
                    </div>
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>Nonce:</p>
                    </div>
                    <div class="col-md-98 hotspot-details-value">
                        {{hotspot.nonce}}
                    </div>
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>Payer:</p>
                    </div>
                    <div class="col-md-8 hotspot-details-value">
                        {{hotspot.payer}}
                    </div>
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>Mode:</p>
                    </div>
                    <div class="col-md-98 hotspot-details-value">
                        {{hotspot.mode}}
                    </div>
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>last_poc_challenge:</p>
                    </div>
                    <div class="col-md-8 hotspot-details-value">
                        {{hotspot.last_poc_challenge}}
                    </div>
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>last_change_block:</p>
                    </div>
                    <div class="col-md-98 hotspot-details-value">
                        {{hotspot.last_change_block}}
                    </div>
                </div>
                <div class="col-md-12 hotspot-details-row">
                    <div class="col-md-4 hotspot-details-label">
                        <p>owner:</p>
                    </div>
                    <div class="col-md-8 hotspot-details-value">
                        {{hotspot.owner}}
                    </div>
                </div>

            </div>
        </div>
    </div>

  </mat-dialog-content>