<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-williroi">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/williroi64x64.png" alt="" width="42" height="42" class="d-inline-block"> Will I ROI?
    </a>

    <div class="userDropMenu">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="userDropMenuImg" src="/assets/img/avatar_seagull.png">
          <span> Witaj, klocu! </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <!-- <li> <a class="dropdown-item" [routerLink]="['/profile']"><i class="fas fa-user"></i> Majne profajl</a></li> -->
          <li> <a class="dropdown-item menu-profile"><i class="fas fa-user"></i> Mój profil</a></li>
          <li> <a class="dropdown-item" href="#"><i class="fas fa-smoking"></i> Szmeterling</a></li>
          <li> <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Krankenwagen</a></li>
          <li> <hr class="dropdown-divider"></li>
          <li> <a class="dropdown-item" ><i class="fas fa-sign-out-alt"></i>Wychodzę, bo nie zniesę</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>